* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after{
    content: '';
    height: 0px;
    line-height: 0px;
    display: block;
    visibility: hidden;
    clear: both;
}

ul{
    list-style: none;
}

.container{
    width: 800px;
    margin: 50px auto;
}

.container li{
    float: left;
    width: 170px;
    margin: 15px 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);

}

.container li img{
    width: 170px;
    height: 120px;
    border-radius: 5px;
    vertical-align: bottom;
}

/*第一张图片 沿X轴顺时针旋转30度*/
.container li:nth-child(1){
    transform: rotate(17deg);

}

.container li:nth-child(2){
    transform: rotate(-13deg);

}

.container li:nth-child(3){
    transform: rotate(13deg);

}

.container li:nth-child(4){
    transform: rotate(-10deg);

}

.container li:nth-child(5){
    transform: rotate(10deg);

}

.container li:nth-child(6){
    transform: rotate(-5deg);

}

.container li:nth-child(7){
    transform: rotate(8deg);

}

.container li:nth-child(8){
    transform: rotate(-15deg);

}

/*鼠标移上去,照片恢复原位,缩放效果*/
.container li:hover{
    transform: rotate(0deg) scale(1.1);
}
